<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="offsetDays" value="5" />
	<listeners>

		<listener class-name="com.hrblizz.utilities.ExtentReportManager"></listener>
	</listeners>

	<test thread-count="2" name="Test">

		<classes>
			<class name="com.hrblizz.testcase.TC_01_Manager_ApplyLeave" />
			<class name="com.hrblizz.testcase.TC_02_FailTestCase" />

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
